
.form {
  padding:10px 25px;
  margin: 0 auto;
  border-radius: 16px;
  width: 495px;
  height: 395px;
  background-color: #fcebe5;
  border-radius: 16px;
  z-index:100;
}

#contact-form{
  background-color: #fcebe5;
  z-index: 100;
}

.title {
  font-family: url("../fonts/BananaGrotesk-Bold.otf");
  font-weight: 700;
  color: #495057;
  letter-spacing: 2.1px;
  font-size: 42px;
  opacity: 1;
  background-color: #fcebe5;
  z-index: 100;
}

.text {
  font-family: url("../fonts/BananaGrotesk-Light.otf");
  color: #adb5bd;
  letter-spacing: 0.48px;
  font-size: 12px;
  opacity: 1;
  background-color: #fcebe5;
  z-index: 100;
}

a{
    background-color: #fcebe5;
    z-index: 100;
}

.form-control{
  color:#ADB5BD;
  font-size: 12px;
  font-family: url('../fonts/BananaGrotesk-Light.otf');
  z-index: 100;
}


label {
  position: relative;
  top:14px;
  left:15px;
  width:52px;
  right:338px;
  text-align:left;
  float:left;
  opacity:1;
  background-color:#F8F9FA;
  color: #495057;
  font: url('../fonts/BananaGrotesk-Regular.otf') ;
  font-size:12px;
  font-weight: bold;
  letter-spacing: 0.48px; 
  z-index: 100;

}

input {
  display: none;
  position: relative;
  top:7px;
  left:30px;
  text-align: left;
  max-width:330px;
  background-color: transparent;
  border: transparent;
  z-index: 100;

}

textarea{
  position: relative;
  top:7px;
  left:30px;
  text-align: left;
  max-width:330px;
  background-color: #F8F9FA;
  border: transparent;
  z-index: 100;
}


.form-group{
    position: relative;
    top:20px;
    height: 45px;
    width: 400;
    opacity: 1;
    z-index:2;
    background-color:#F8F9FA;
    border-radius: 30px;
    z-index: 100;
}


.submit-btn {
  position: relative;
  background-color: #000000;
  color: white;
  float: right;
  width: 105px;
  line-height: 33px;
  border-radius: 38.5px;
  font-family: url("../fonts/BananaGrotesk-Regular.otf");
  font-size: 12px;
  z-index: 100;
}

.close-btn {
  font-weight: bold;
  float: right;
  background-color: #fcebe5;
  z-index: 100;
}

.logo {
  float: right;
  background-color: #fcebe5;
  z-index: 100;
}

.footer {
  position: relative;
  padding: 10px;
  color: #495057;
  font-family: url("../fonts/BananaGrotesk-Regular.otf");
  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 38px;
  opacity: 1;
  background-color: transparent;
  z-index: 100;
}
