* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FDE3D9;

}

h1{
  padding-left: 60px;
  width: 45%;
  font-family: url('./fonts/BananaGrotesk-Medium.otf');
  font-size: 42px;
  position: absolute;
  top:215px;
  z-index: -1;
}

h6{
  padding-left: 60px;
  width: 40%;
  font-family: url('./fonts/BananaGrotesk-Light.otf');
  font-weight: lighter;
  position: relative;
  top:270px;
  color: #6D6D6D;
  line-height: 27px;
  z-index: -1;
}

.badge{
  left: 50px;
  position: absolute;
  bottom:20px;
}
